@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');

.slug {
    font-family: 'Source Code Pro', monospace;
    padding: 0px;
    margin: 0px;
    transition: all .2s ease-in-out;
}

.slug:hover {
    transform: scale(1.1);
}

[data-toggle="tooltip"] {
    cursor: pointer;
}

.link-unstyled,
.link-unstyled:visited,
.link-unstyled:hover,
.link-unstyled:active,
.link-unstyled:focus,
.link-unstyled:active:hover {
    text-decoration: none;
}

.pointer {
    color: black;
}

.pointer:hover {
    text-decoration: none;
}
